@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300; 
    color: black;   
}

/* headings and logo */

h1{
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    color:brown;
} 

h2,h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:rgb(102, 26, 26);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
    
    
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    list-style-type: none;
    margin-right: 40px;
    float:left;
}

#menu a {
    text-decoration: none;
    color:brown;
}

#menu a:hover {
    border-bottom: double;
}

.active {
    border-bottom: double;
}

/* sunglass dog */


#sunglass-dog-image {
    height: 600px;
    width: 100%;
    background: url("../images/Picture8.jpg") bottom center no-repeat;
}
/* se calhar retirar cover-text */
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 200px;
    padding: 10px 0 0 10px;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

#cover-text, #cover-text h2 {
    color: rgb(8, 99, 5);
}

#about-us {
    padding-top: 60px;
    width: 100%;
    float: left;
    margin-left: 40px;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

#reasons {
    padding-top: 60px;
    width: 100%;
    float: left;
    margin-left: 40px;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-align: center;   
    list-style-position: inside;
}

#events {
    padding-top: 60px;
    width: 100%;
    float: left;
    margin-left: 40px;
    font-size: 100%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px solid #3a3a3a;
  }