@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300; 
    color:rgb(102, 26, 26);   
}

/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    color:darkred;
    position: inherit;
}

#logo {
    float: left;
    font-size: 150%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 100%;
    letter-spacing: 3px;
    float: right; 
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    float:left;
}

#menu a {
    text-decoration: none;
    color:darkred;
}

#menu a:hover {
    border-bottom: double;
}

#menu a:hover {
    border-bottom: 1px solid lightsteelblue;
}

.active {
    border-bottom: double;
}

/* hero-image sunglass dog */
#sunglass-dog-image {
    height: 600px;
    width: 100%;
    background-size: 300px 100px;
    background: url(../images/dog-sunglass.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
}
/* cover-text */
#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 250px;
    padding: 30px;
    background-color:darkred;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

#cover-text, #cover-text h2 {
    color:white;
}

/* Text-align about us, reasons and upcoming events */
#about-us, #reasons, #events {
    text-align: left;
    padding-bottom: 20px;
    margin: 30px
    
}

/* Reasons numbers style */
#reasons {  
    list-style-position: inside;
}

/* thematic break */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
  }

/* Upcoming events */
#dogs-events {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-right: 40px; 
  }

#dogs-events div {
    color:white;
    background-color:grey;
    width: 20%;
    height: 400px;
    float: left;
    padding: 100px 0 0 10px;
    text-align: center;
    border: 4px dotted white;
    box-sizing: border-box;
}

/* Footer */
footer {
    height: 100px;
}

/* Gallery pictures */
#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0; 
}
    
#pictures > img {
    width: 100%;
}

/* gallery */
img {
border: 2px solid white
}

/* Contact section */
#contact {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 130%;
    text-align: center;    
}

#others-contacts {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 100%;
    text-align: right;
    
}
/* Form */
/* Style inputs */
input[type=text], select, oswald, sans-serif {
    width: 100%; 
    padding: 12px; 
    border: 1px solid darkred; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }

  input[type=email], select, oswald, sans-serif {
    width: 100%; 
    padding: 12px; 
    border: 1px solid darkred; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }

  #subject {
    width: 100%; 
    padding: 12px; 
    border: 1px solid darkred; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }

  /* Submit button */
  input[type=submit] {
    background-color:brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Submit button hover */
  input[type=submit]:hover {
    background-color: grey;
  }
  
  /* Form background color and padding around the form */
  .container {
    padding: 20px;
  }

  /* Submit bottom response */
  #request-submit {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
    
  /* Footer and social links*/
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 2%;
    padding: 3%;
    color:black;
}

/* media queries */
@media screen and (max-width: 600px) {
    .columm{
      flex: 100%;
      max-width: 100%;
    }
}

